<mat-card>
    <mat-card-title>Alterar Música</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo" [(ngModel)]="song.title" name="title">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome Artista" [(ngModel)]="song.artist" name="nome_artista">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Id Artista" [(ngModel)]="song.artist_id" name="id_artista">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Bpm" [(ngModel)]="song.bpm" name="bpm">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Gênero</mat-label>
            <mat-select [(value)]="song.genre">
                <mat-option *ngFor="let genre of genres"
                [value]="genre.id3">{{ genre.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Link Áudio" [(ngModel)]="song.link_audio" name="link_audio">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Chord Sheet" [(ngModel)]="song.chord_sheet" name="chord_sheet">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Source Url" [(ngModel)]="song.source_url" name="source_url">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Version" [(ngModel)]="song.version" name="version">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Difficulty" [(ngModel)]="song.difficulty" name="difficulty">
        </mat-form-field>
        
    </form>

    <button mat-raised-button (click)="editar()" color="warn">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>