.searching {
    width: 200px;
}

mat-radio-button{
  margin-right: 10px;
  font-size: 15px;
}

button{
  margin: 0 10px;
}

mat-form-field{
  margin: 0 10px;
}

.sectionCheckbox {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}