<div class="count">
    <div id="countSong">
        <p>Total de Músicas</p>
        <span>{{song}}</span>
    </div>
    <div id="countGenre">
        <p>Total de Gêneros</p>
        <span>{{genre}}</span>
    </div>
    <div id="countArtist">
        <p>Total de Artistas</p>
        <span>{{artist}}</span>
    </div>
</div>

<div class="chart">
    <div class="rowChartOne">
        <div id="genre">
            <google-chart *ngIf="chartGenres.data.length > 0" 
                [title]="chartGenres.title" 
                [type]="chartGenres.type"
                [data]="chartGenres.data" 
                [columns]="chartGenres.columnNames" 
                [options]="chartGenres.options">
            </google-chart>
        </div>
        <div id="acorde">
            <google-chart *ngIf="chartChords.data.length > 0" 
                [title]="chartChords.title" 
                [type]="chartChords.type"
                [data]="chartChords.data" 
                [columns]="chartChords.columnNames" 
                [options]="chartChords.options">
            </google-chart>
        </div>
    </div>
    <div class="rowChartTwo">
        <div id="dificuldadePizza">
            <google-chart *ngIf="chartDifficulty2.data.length > 0" 
                [title]="chartDifficulty2.title"
                [type]="chartDifficulty2.type" 
                [data]="chartDifficulty2.data" 
                [columns]="chartDifficulty2.columnNames"
                [options]="chartDifficulty2.options">
            </google-chart>
        </div>
        <div id="dificuldade">
            <google-chart *ngIf="chartDifficulty.data.length > 0" 
                [title]="chartDifficulty.title"
                [type]="chartDifficulty.type" 
                [data]="chartDifficulty.data" 
                [columns]="chartDifficulty.columnNames"
                [options]="chartDifficulty.options">
            </google-chart>
        </div>
    </div>

    <h1> </h1>