<app-procurar-dashboard></app-procurar-dashboard>

<div class="count">
    <div id="countArtist">
        <p>Total de Artistas</p>
        <!--<span [(ngModel)]="contarArtistas()"></span>-->
        <!--<span ng-controller="contarArtistas()"></span>-->
        <span ngFor="contarArtistas()"></span>-
    </div>
    <div id="countGenre">
        <p>Total de Gêneros</p>
        <span ngFor="contarGeneros()"></span>-
    </div>
    <div id="countSong">
        <p>Total de Músicas</p>
        <span ngFor="contarMusicas()"></span>-
    </div>
</div>
<div class="chart">
    <div class="rowChartOne">
        <div id="genre"></div>
        <div id="acorde"></div>
    </div>
    <div class="rowChartTwo">
        <div id="rankingArtistas"></div>
        <div id="dificuldade"></div>
    </div>
    <div class="rowChartThree">
        <div id="new1">H</div>
        <div id="new2">I</div>
    </div>
</div>

