<div class="count">
    <div id="countSong">
        <p>Total de Músicas</p>
        <span>{{song}}</span>
    </div>
    <div id="countGenre">
        <p>Total de Gêneros</p>
        <span>{{genre}}</span>
    </div>
    <div id="countArtist">
        <p>Total de Artistas</p>
        <span>{{artist}}</span>
    </div>
</div>
<div class="chart">
    <div class="rowChartOne">
        <div id="genre"></div>
        <div id="acorde"></div>
    </div>
    <div class="rowChartTwo">
        <div id="dificuldadePizza"></div>
        <div id="dificuldade"></div>
    </div>
<!--   <div class="rowChartThree">
        <div id="new1">H</div>
        <div id="new2">I</div>
    </div>--> 
</div>

