/*#dificuldade{
    margin-bottom: 120px;
}*/

.chart{
    margin-bottom: 150px;
}

.count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;

}

#countArtist, #countGenre, #countSong {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;
    width: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 361);
    text-align: center;
}

p { 
    font-size: 20px;
    font-weight: bold;
}

span {
    font-size: 50px;
    font-weight: bold;
}

.rowChartOne, .rowChartTwo, .rowChartThree {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /*border: 1px solid black;*/
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 4px;
}

#genre , #acorde, #dificuldadePizza, #dificuldade {
    border: 1px solid rgba(211, 211, 211, 0.562);
    border-radius: 10px;
}
