<header>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.daccord.com.br/" target="_blank">Site Oficial</a>
            <span class="navbar-brand">|</span>
            <a class="navbar-brand" href="https://www.google.com.br/" target="_blank">Ajuda</a>
        </div>
    </nav>
</header>
<section class="container conteudo">
    <div class="col-6">
        <form (ngSubmit)="login()">
            <label for="email">E-mail:</label>
            <input [(ngModel)]="autenticacao.email" name="email" type="email" class="form-control">
            <label for="senha">Senha:</label>
            <input [(ngModel)]="autenticacao.password" name="password" type="password" class="form-control">
            <button type="submit" class="btn">Entrar</button>
        </form>
    </div>
    <div class="col-6">
        <img src="../../assets/img/logo2.png" alt="Logo da Daccord">
    </div>
</section>