mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

::ng-deep .mat-form-field-wrapper {
  width: 100%;
}
  
  button{
    margin-top: 10px;
    margin-right: 20px;
  }