.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color: #555555;
}

span{
    font-size: 16px;
}