<mat-card>
    <mat-card-title>Novo Artista</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo" [(ngModel)]="song.title" name="title">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome Artista" [(ngModel)]="song.artist" name="nome_artista">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Id Artista" [(ngModel)]="song.artist_id" name="id_artista">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Bpm" [(ngModel)]="song.bpm" name="bpm">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Gênero" [(ngModel)]="song.genre" name="genero">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Link Áudio" [(ngModel)]="song.link_audio" name="link_audio">
        </mat-form-field>
<!--    <mat-form-field>
            <mat-label>Gênero</mat-label>
            <mat-select name="genero" [(ngModel)]="song.genre">
                <mat-option value="false">Lista de gêneros</mat-option>
            </mat-select>
        </mat-form-field>
-->
    </form>

    <button mat-raised-button (click)="criar()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>