.sidenav {
  background-color: rgb(85,85,85);
  width: 200px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content{
  padding: 16px;
  background-color: #fff;
  margin: 60px 0;
}

