.sidenav {
  background-color: rgb(85,85,85);
  width: 200px;
}

.sidenav a {
  color: #fff;
  width: 200px;
  padding-left: 20px;
}

.sidenav i {
  padding-right: 10px;
}

.content{
  padding: 16px;
  background-color: rgb(255, 255, 255);
  margin-top: 64px;
}