<mat-card>
    <mat-card-title>Deletar Artista</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="artists.artist_name" name="nome" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Gênero" [(ngModel)]="artists.artist_genre" name="genero" disabled>
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="deletar()" color="accent">
        Deletar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>