<mat-card>
    <mat-card-title>Alterar Artistas</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="artists.artist_name" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Gênero" [(ngModel)]="artists.artist_genre" name="genero">
        </mat-form-field>
        
    </form>

    <button mat-raised-button (click)="editar()" color="warn">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>